@using EMS.Controllers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> EMS | Dashboard </title>
    <link rel="icon" type="image/x-icon" href="~/Frontend/dist/img/Logo.png">
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Frontend/plugins/fontawesome-free/css/all.min.css">
    <!-- IonIcons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Frontend/dist/css/adminlte.min.css">
</head>

<body class="hold-transition sidebar-mini"> @*sidebar-collapse*@
    <div class="wrapper">
        <!-- Navbar -->
        <nav class="main-header navbar navbar-expand navbar-white navbar-light">
            <!-- Left navbar links -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
                </li> 
            </ul>

            <!-- Right navbar links -->
           <ul class="navbar-nav ml-auto">
                <!-- Navbar Search -->
              @* <li class="nav-item d-none d-sm-inline-block"> 
                   @Html.ActionLink("Home", "Index", "Home", new { @class = "a.nav-link" }, null)
                </li>*@
                  <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Profile</a>
                </li>
                <li class="nav-item d-none d-sm-inline-block">
                    <a href="#" class="nav-link">Log Out/Log In</a>
                </li>
         
            </ul>
        </nav>
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        <aside class="main-sidebar sidebar-dark-primary elevation-4">
            <!-- Brand Logo -->
            <a href="index3.html" class="brand-link">
                <img src="~/Frontend/dist/img/Logo.png" alt="EMS Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
                <span class="brand-text font-weight-light">EMS Soft</span>
            </a>

            <!-- Sidebar -->
            <div class="sidebar">
                <!-- Sidebar user panel (optional) -->
                <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                    <div class="image">
                        <img src="~/Frontend/dist/img/user2-160x160.jpg" class="img-circle elevation-2" alt="User Image">
                    </div> 
                    <div class="info">
                        <a href="#" class="d-block">Abhishek Gupta</a>
                    </div>
                </div>

                <!-- SidebarSearch Form -->
              
                <!-- Sidebar Menu -->
                <nav class="mt-2">
                    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                        <!-- Add icons to the links using the .nav-icon class
                             with font-awesome or any other icon font library -->
                      
                          <li class="nav-item">
                            <a href="pages/home.html" class="nav-link">
                                <i class="nav-icon fas fa-home "></i>
                                <p> 
                                   Home  
                                </p>
                            </a>
                        </li>

                       <li class="nav-item">
                            <a class="nav-link @Html.IsSelected(actions: "Index", controllers: "User")" href="@Url.Action("Index", "User")"><i class="nav-icon fas fa-users"></i><span> Employees</span> </a>
                        </li>

                         <li class="nav-item">
                            <a href="pages/home.html" class="nav-link"> 
                                <i class="nav-icon fas fa-building"></i>
                                <p>
                                    Department
                                </p>
                            </a> 
                        </li>

                          <li class="nav-item">
                            <a class="nav-link @Html.IsSelected(actions: "Index", controllers: "Position")" href="@Url.Action("Index", "Position")"><i class="nav-icon fas fa-sitemap"></i><span> Positions</span> </a>
                        </li>


                         <li class="nav-item">
                            <a href="pages/home.html" class="nav-link">
                                <i class="nav-icon fas fa-tasks"></i>
                                <p>
                                    Assign Task
                                </p>
                            </a>
                        </li>

                         <li class="nav-item">
                            <a href="pages/home.html" class="nav-link">
                                <i class="nav-icon fas fa-calendar"></i>
                                <p>
                                    Leave Requests
                                </p>
                            </a>
                        </li>
                        <li class="nav-item menu-close">
                            <a href="#" class="nav-link ">
                                <i class="nav-icon fas fa-address-book"></i>
                                <p>
                                    Address
                                    <i class="right fas fa-angle-left"></i>
                                </p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="./index.html" class="nav-link">
                                        <i class="nav-icon fas fa-globe "></i>
                                        <p>Country</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index2.html" class="nav-link">
                                        <i class="nav-icon fas fa-flag "></i>
                                        <p>Region</p>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a href="./index3.html" class="nav-link">
                                        <i class="nav-icon fas fa-city "></i>
                                        <p>City</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        
                    </ul>
                </nav>
                <!-- /.sidebar-menu -->
            </div>
            <!-- /.sidebar -->
        </aside>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
       
            <!-- Main content -->
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <!-- Main Footer -->
        <footer class="main-footer">
            <strong>Copyright &copy; 2022 Made by 3techatiers with LOVE</strong>
            All rights reserved.
            <div class="float-right d-none d-sm-inline-block">
                <b>Version</b> 1.0
            </div>
        </footer>
    </div>
    <!-- ./wrapper -->
    <!-- REQUIRED SCRIPTS -->
    @await RenderSectionAsync("Scripts", required: false)
    <!-- jQuery -->
    <script src="~/Frontend/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="~/Frontend/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE -->
    <script src="~/Frontend/dist/js/adminlte.js"></script>

    <!-- OPTIONAL SCRIPTS -->
    <script src="~/Frontend/plugins/chart.js/Chart.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="~/Frontend/dist/js/pages/dashboard3.js"></script>
    
</body>
</html>